<app-error-dialog [visible]="visibleErrorDialog" [message]="messageErrorDialog"></app-error-dialog>
<app-edit-user-modal [visible]="visibleEditUserModal"></app-edit-user-modal>
<app-add-user-modal [visible]="visibleAddUserModal"></app-add-user-modal>
<app-delete-dialog [visible]="visibleDeleteUserDialog"></app-delete-dialog>
<div class="add-user">
  <button (click)="onClickAddUser()">
    <i class="pi pi-user" style="font-size: 1rem; margin-right: 5px"></i>
    Cadastrar Usuário
  </button>
</div>
<div class="table-users">
  <p-table
    [value]="(users$ | async)!"
    [tableStyle]="{
      'max-width': '920px',
      width: '920px',
      'font-size': '14px'
    }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Apelido</th>
        <th>Time</th>
        <th>Cpf</th>
        <th>Hobbie</th>
        <th>Cidade</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.nome }}</td>
        <td>{{ user.apelido }}</td>
        <td>{{ user.time }}</td>
        <td>{{ user.cpf }}</td>
        <td>{{ user.hobbie }}</td>
        <td>{{ user.cidade }}</td>
        <td class="buttons">
          <button (click)="onClickEditUser()" class="pi pi-pen-to-square" style="font-size: 1rem" id={{user.id}}></button>
          <button (click)="onClickDeleteUser()" class="pi pi-trash" style="font-size: 1rem" id={{user.id}}></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
