<div class="add-user">
  <button>
    <i class="pi pi-user" style="font-size: 1rem; margin-right: 5px"></i>
    Cadastrar Usuário
  </button>
</div>
<div class="table-users">
  <p-table
    [value]="users"
    [tableStyle]="{
      'max-width': '920px',
      width: '920px',
      'font-size': '14px'
    }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Apelido</th>
        <th>Time</th>
        <th>Cpf</th>
        <th>Hobbie</th>
        <th>Cidade</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.nome }}</td>
        <td>{{ user.apelido }}</td>
        <td>{{ user.time }}</td>
        <td>{{ user.cpf }}</td>
        <td>{{ user.hobbie }}</td>
        <td>{{ user.cidade }}</td>
        <td class="buttons">
          <button class="pi pi-pen-to-square" style="font-size: 1rem" id={{user.id}}></button>
          <button class="pi pi-trash" style="font-size: 1rem" id={{user.id}}></button>

          <!-- <button id={{user.id}}>Excluir</button> -->
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
